<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style_faction.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Hero's</a></li>
                <li><a href="/factions">Factions</a></li>
            </ul>
        </nav>
       
    </header>

    <main>
        <table>
            <tr>
                <th>Name</th>
                <th>Alignment</th>
                <th>foundedYear</th>
                <th>SecretSociety</th>
                <th>Action</th>
            </tr>
            <% factions.forEach(f => { %>
                <tr class="Hero_container">
                    <td class="Name_Hero">
                        <img src="<%= f.symbolUrl %>" alt="" width="100px">
                        <h3 class="name"><%= f.name %></h3>
                    </td>
                    <td><p><%= f.alignment %></p></td>
                    <td><p><%= f.foundedYear%></p></td>
                    <td><p><%= f.isSecretSociety%></p></td>
                    <td>
                        <button>
                            <a href="/faction?id=<%= f.id %>">View</a>  
                        </button>
                    </td>
                </tr>
            <% }) %>
        </table>
    </main>

</body>
</html>